body{
background: #d4d4d4;
margin-top:20px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.input-group span.input-group-btn {
    clear: both;
    display: block;
    margin-top: 5px;
    width: 100%;
}

input#system-search {
    width: 100%;
}

.input-group {
    display: block;
}

button.btn.btn-default {
    width: 100%;
    font-size: 19px;
}
svg #base_left, svg #bottom_left {
  fill: #57618F;
}
svg #base_right, svg #bottom_right {
  fill: #515b85;
}
svg #base_bottom_left {
  fill: #495279;
}
svg #base_bottom_right {
  fill: #444b6f;
}
